body {
    background-color: lightblue;
    background-image:  url("https://www.goodfreephotos.com/albums/other-landscapes/waves-on-the-seashore-seascape.jpg");
}

h1 {
  color: chocolate;
  margin-left: 10px;
  text-transform: uppercase;
}

h2 {
  color: crimson;
  margin-left: 20px;
}
h3 {
  color: fuchsia;
  margin-left: 30px;
}

h4 {
  color: darkcyan;
  margin-left: 40px;
}

a {
  color: firebrick;
  text-decoration: none;
}

h1:hover {
  font-size: 300%;
}

a:visited {
  color:darkorange;
}

p:first-letter {
  font: 400 100px/0.8 'Great Vibes', Helvetica, sans-serif;
}

p {
  padding: 5em;
  margin: 5em;
  letter-spacing: 3px;
  text-indent: 50px;
  text-align:justify; 
}

.first-paragraph {
  text-decoration:underline; 
  font-size: 150%;
}

.project-li {
  text-align: center;
  margin-bottom: 10em;
}